<html>
<header>    
    <div class="logo">
        <ul>
            <li><%= image_tag asset_path('logo-01.png') %></li>
        </ul>
    </div>    
    <div class="menu">
        <ul class="btns">
            <li><a href="#" class="btn-menu">Home</a></li>
            <li><a href="#" class="btn-menu">About</a></li>
            <li><a href="#" class="btn-menu">Articles</a></li>
        </ul>
    </div>
    <div class="nav-right dropdown">
        <ul class="avatar">
            <li>
                <i id="myAvatar" class="fas fa-user-tie"></i>
            </li>
        </ul>
        <div class="dropdown-content">
            <p>Hello! <br/> bienvenu sur la page, n'hésite pas à soumettre tes critiques</p>
        </div>
    </div>
</header>
<div class="container">
    <h1>
        Welcome to my page!
    </h1>
   <br />
    <div class="paragraph">
        <div class="card">
            <div class="portrait">
                <%= image_tag asset_path('portrait.jpg') %>
            </div>
            <div class="about">
                <p class="job">Cat Woman</p>
                <p>Secret Agent</p>
                <hr/>
            </div>        
        </div>
        <div class="texte">
            <%= render '/layouts/blog' %>  
        </div>
    </div>
    <div>
        <ul class="btn-list">
            <li><a class="btn-success">Connect</a></li>
            <li><a class="btn-success">Register</a></li>
        </ul>
        
        
    </div>
</div>


<footer>
    <div>
        <ul class="footer-menu">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a><i class="fab fa-twitter-square"></i></a></li>
            <li><a><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>
</body>
</html>